:root {
    --accent-color: rgb(26, 27, 28);
    --td-color: rgb(225, 225, 225);

    --title-font: Montserrat;
}

body {
    background-color: rgb(231, 231, 231);
    background-image: url(background3.png);
    background-size: cover;
    margin: 0px;
}

div.page{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div.container {
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    padding: 40px;
    min-height: 480px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(5px) saturate(100%);
    border-radius: 5px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
}

div.heading {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

div.capitalform {
    display: block;
    width: 100%;
}

h2 {
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: var(--title-font);
}

form {
    font-family: calibri;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    padding: 5px;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    background: rgba(255, 255, 255, 0.0);
    margin: 0px, 0px, 0px, 5px;
}

input[type=number]:focus {
    border: none;
    background: rgba(255, 255, 255, 0.2);
}

input[type=submit] {
    border: 0px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.15);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

}

div.submit{
    position: absolute;
    right: 40px;
    bottom: 20px;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

td.total {
    font-weight: bold;
}

td.tabletitle { 
    font-weight: bold;
}


/* == Results Styling == */
p.positive {
    padding: 0px;
    margin: 0px;
    color: rgb(143, 255, 143);
    font-weight: bold;
}

p.negative {
    padding: 0px;
    margin: 0px;
    color: rgb(255, 139, 139);
    font-weight: bold;
}



/* == Menu Styles == */
div.menu_container {
    display: flex;
    height: 100vh;
}

div.menu {
    background-color: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(5px) saturate(100%);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0px;
    padding: 30px;
    padding-top: 20px;
    left: 0px;
    min-width: 150px;
}

ul {
    padding-left: 0px;
    color: white;
    list-style-type: none;
}

li {
    margin-bottom: 25px;
    font-family: var(--title-font);
    font-size: 1.2em;
}